# R
.Rproj.user
.Rhistory
.RData

# Sensitive Files
0_Post/
1_Protocol/1_1_Pre-Registration/1_1_1_Old Version/
1_Protocol/1_1_Pre-Registration/1_1_2_C-P_Revised/
1_Protocol/1_1_Pre-Registration/1_1_3_Helen_Revised/
2_Literature_Search/
3_Article_Screen/Reliability_SPMT.Data/
4_Data_Extraction/4_2_Open_Data/
5_Analysis/DATA/
5_Analysis/DRAFT/3_Rev/
5_Analysis/DRAFT/4_Old Version/
5_Analysis/DRAFT/6_Letter/
5_Analysis/DRAFT/5_PDF/Old Version/
6_Manuscript/1_Word_version/0_Old_Version/
6_Manuscript/1_Word_version/1_Rev/
6_Manuscript/3_Others/

# Office temp Files
~$*

# Python
.ipynb_checkpoints/

# Mac OS
.DS_Store

# Windows OS
desktop.ini

# LaTex
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz

